**Student ID : S223494027**

**Student Name : Neethu Sidhardhan**

**Question 1.1**

ages = [5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31] and the length of the list is 21

*  Find the average value of age (don’t use numpy and do not import other module or library, do not directly use math,statistics module functions except the function sum);
*  Find the standard deviation from the age list (don’t use numpy and do not import other module or library, do not directly use math, statistics module functions except the function sum)

**Solution 1.1**

In [1]:
ages = [5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31]

In [2]:
len (ages)

21

In [3]:
sum(ages)

680

In [4]:
680/21

32.38095238095238

In [5]:
def calculate_mean(ages):
    total = sum(ages)
    count = len(ages)
    return total / count

In [6]:
def calculate_sum_of_squared_deviations(ages, mean):
    squared_deviations = [(x - mean) ** 2 for x in ages]
    return sum(squared_deviations)

In [8]:
def calculate_standard_deviation(ages):
    mean = calculate_mean(ages)
    sum_squared_deviations = calculate_sum_of_squared_deviations(ages, mean)
    variance = sum_squared_deviations / (len(ages) - 1)  # Sample variance
    standard_deviation = variance ** 0.5  # Standard deviation is the square root of variance
    return standard_deviation

In [9]:
average_age = calculate_mean(ages)
print("Average Age:", average_age)

Average Age: 32.38095238095238

In [10]:
std_deviation = calculate_standard_deviation(ages)
print("Standard Deviation:", std_deviation)

Standard Deviation: 23.238924653426174

**Question 1.2**

Writing the code or function to achieve below requirements:

*   You are given the heads of two sorted linked lists list1 = [1,2,4] and list2 = [1,3,4]. Merge the two lists in a one sorted list which is [1,1,2,3,4,4]. (don’t use numpy or import othermodule / library);

*    You are given the heads of two sorted linked lists list1 = [1,2,4] and list2 = [1,3,4]. Merge the two lists in a one sorted list without duplicated elements which is [1,2,3,4]. (don’t use numpy or import other module / library);

**Solution 1.2**

In [11]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

def merge_sorted_lists(list1, list2):
    # Create a dummy node as the head of the merged list
    dummy_head = ListNode()
    current = dummy_head

    while list1 is not None and list2 is not None:
        if list1.val < list2.val:
            current.next = list1
            list1 = list1.next
        else:
            current.next = list2
            list2 = list2.next
        current = current.next

    # Append any remaining elements from list1 or list2
    if list1 is not None:
        current.next = list1
    else:
        current.next = list2

    return dummy_head.next

# Helper function to convert a list to a linked list
def list_to_linked_list(lst):
    dummy_head = ListNode()
    current = dummy_head
    for val in lst:
        current.next = ListNode(val)
        current = current.next
    return dummy_head.next

# Helper function to convert a linked list to a list
def linked_list_to_list(head):
    result = []
    current = head
    while current is not None:
        result.append(current.val)
        current = current.next
    return result

# List given in Question
list1 = [1, 2, 4]
list2 = [1, 3, 4]
linked_list1 = list_to_linked_list(list1)
linked_list2 = list_to_linked_list(list2)
merged_linked_list = merge_sorted_lists(linked_list1, linked_list2)
merged_list = linked_list_to_list(merged_linked_list)
print(merged_list)

[1, 1, 2, 3, 4, 4]

In [12]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

def merge_sorted_lists_without_duplicates(list1, list2):
    dummy_head = ListNode()
    current = dummy_head

    while list1 and list2:
        if list1.val < list2.val:
            current.next = list1
            list1 = list1.next
        elif list1.val > list2.val:
            current.next = list2
            list2 = list2.next
        else:  # Equal values, skip one
            current.next = list1
            list1 = list1.next
            list2 = list2.next
        current = current.next

    # Append remaining elements from list1 or list2
    current.next = list1 or list2

    return dummy_head.next

# Helper functions for list-to-linked-list and linked-list-to-list conversions (same as before)

list1 = [1, 2, 4]
list2 = [1, 3, 4]

linked_list1 = list_to_linked_list(list1)
linked_list2 = list_to_linked_list(list2)

merged_linked_list_without_duplicates = merge_sorted_lists_without_duplicates(linked_list1, linked_list2)
merged_list_without_duplicates = linked_list_to_list(merged_linked_list_without_duplicates)
print(merged_list_without_duplicates)

[1, 2, 3, 4]

**Question 1.3**

You are required to design the code (by writing code or function) could achieve the mobile number searching mechanism which could allow you to:

*   for Four mobile numbers in a list [’10009091003’,’10008293312’,’10007838282’, ‘130001002’]
*    print “Yes” when last digit in mobile number is not 3
*    print “No” when last digit in mobile number is 3
*   print “Not Valid” when length of the mobile number is small than 11 digits

**Solution 1.3**

In [13]:
mobile_numbers = ['10009091003', '10008293312', '10007838282', '130001002']

In [14]:
def check_mobile_numbers(mobile_numbers):
    for number in mobile_numbers:
        if len(number) < 11:
            print("Not Valid")
        elif number[-1] != '3':
            print("Yes")
        else:
            print("No")

In [15]:
check_mobile_numbers(mobile_numbers)

No
Yes
Yes
Not Valid

**Solution 1.4**

In [16]:
for i in range(5):
    for j in range(i + 1):
        print('*', end='')
    print()

*
**
***
****
*****

**Question 1.5**

Given list A = [1,2,3,[4,5,[’x1’,6,[1,2,3,’sig742’]]]],
writing a function to print 1,2,3,4,5,x1,6,1,2,3,sig742 (must define a function to run, the input for function is list A, run the function and print the results line by line or in one line)

**Solution 1.5**

In [17]:
A = [1, 2, 3, [4, 5, ['x1', 6, [1, 2, 3, 'sig742']]]]

In [19]:
def print_nested_elements(lst):
    for item in lst:
        if isinstance(item, list):
            print_nested_elements(item)
        else:
            print(item)

In [20]:
print_nested_elements(A)

1
2
3
4
5
x1
6
1
2
3
sig742

**Question 1.6**

Write the code or function to achieve:
Sort the dictionary list=[{
′name
′
: a,
′ age
′
: 55}, {
′name
′
: b,
′ age
′
: 30}, {
′name
′
: c,
′ age
′
: 50}]
with the value of age (from smallest to largest, you could use default sorted function).

**Solution 1.6**

In [34]:
list_of_dicts = [
    {'name': 'a', 'age': 55},
    {'name': 'b', 'age': 30},
    {'name': 'c', 'age': 50}
]

In [36]:
sorted_list = sorted(list_of_dicts, key=lambda x: x['age'])
print(sorted_list)

[{'name': 'b', 'age': 30}, {'name': 'c', 'age': 50}, {'name': 'a', 'age': 55}]

**Question 1.7**

Define two functions to sum your student ID (all numeric digits in the ID) and then find out if the
result is an odd number or even number there are two functions for you to implement (you
must create the below two functions):
• one is sum_digits,
• another one is check_studentid.
your code will have two functions as below:
def sum_digits ( studentid ):
write your code here
return sum_digits_result
def check_studentid (sum_digits_result) :
write your code here

Run your functions to find out the result and the result must illustrate whether the result from function check_studentid is odd or even number (this is critical to be used for Question 2).

**Solution 1.7**

In [22]:
student_id = ['S223494027']

In [23]:
def sum_digits(studentid):
    # Initialize the sum to 0
    sum_digits_result = 0

    # Iterate through each character in the student ID
    for char in studentid:
        # Check if the character is a numeric digit
        if char.isdigit():
            # Convert the digit character to an integer and add it to the sum
            sum_digits_result += int(char)

    return sum_digits_result

def check_studentid(sum_digits_result):
    # Check if the sum is even or odd
    if sum_digits_result % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Student_ID
student_id = "S223494027"

# Calculate the sum of digits
sum_result = sum_digits(student_id)

# Check if the sum is odd or even
result = check_studentid(sum_result)

print(f"Sum of digits in student ID: {sum_result}")
print(f"Result from check_studentid function: {result}")

Sum of digits in student ID: 33
Result from check_studentid function: Odd

**Question 1.8**
Given an array of integers [1, 2, 6, 8], return indices of the two numbers such that they add up to 10.You may assume that each input would have exactly one solution.
Explanation
Given nums = [1, 2, 6, 8], target = 10,
Because nums[1] + nums[3] = 2 + 8 = 10,
return [1, 3].
Your code should have a defined function which could take the array nums= [1, 2, 6, 8] as input
and run the function to return a list [1,3] (only [1,3]

**Solution 1.8**

In [24]:
nums = [1, 2, 6, 8]
target = 10

In [25]:
def two_sum(nums, target):
    num_indices = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in num_indices:
            return [num_indices[complement], i]
        num_indices[num] = i

    return []

In [26]:
result = two_sum(nums, target)
print(result)

[1, 3]

# **Part 2 (Version 1)**

Whether the three numbers could form the triangle? You need to write code (function) with 3 numeric inputs and then check whether the given three numbers could form the triangle.

**Question 2.1**
You are given three sets of list and each list contains three numbers, you will need to write a code with functionality of inputting the three numbers from each list and find out the answers for below (three) questions. list1 = [1, 3, 5], list2 = [12, 35, 37], list3 = [2, 2, 2.8]
• Define a function to check whether the given three numbers could form the a triangle?
• Define a function to check whether the given three numbers could form the righttriangle?
• Write the code or function to check whether the given three numbers could form the isosceles triangle?

**Solution 2.1**

In [27]:
list1 = [1, 3, 5]
list2 = [12, 35, 37]
list3 = [2, 2, 2.8]

In [28]:
def is_triangle(side1, side2, side3):
        return side1 + side2 > side3 and side2 + side3 > side1 and side3 + side1 > side2

def is_right_triangle(side1, side2, side3):
    sides = [side1, side2, side3]
    sides.sort()

    # Check if it's a right triangle using the Pythagorean theorem
    return sides[0]**2 + sides[1]**2 == sides[2]**2

def is_isosceles_triangle(side1, side2, side3):
    # Check if it's an isosceles triangle (at least two sides have the same length)
    return side1 == side2 or side2 == side3 or side3 == side1


side1, side2, side3 = list1

is_triangle_result = is_triangle(side1, side2, side3)
is_right_triangle_result = is_right_triangle(side1, side2, side3)
is_isosceles_triangle_result = is_isosceles_triangle(side1, side2, side3)

print("List 1:")
print("Can form a triangle:", is_triangle_result)
print("Can form a right triangle:", is_right_triangle_result)
print("Can form an isosceles triangle:", is_isosceles_triangle_result)

List 1:
Can form a triangle: False
Can form a right triangle: False
Can form an isosceles triangle: False

In [29]:
def is_triangle(side1, side2, side3):
    # Check the triangle inequality condition
    return side1 + side2 > side3 and side2 + side3 > side1 and side3 + side1 > side2

def is_right_triangle(side1, side2, side3):
    # Sort the sides in ascending order
    sides = [side1, side2, side3]
    sides.sort()

    # Check if it's a right triangle using the Pythagorean theorem
    return sides[0]**2 + sides[1]**2 == sides[2]**2

def is_isosceles_triangle(side1, side2, side3):
    # Check if it's an isosceles triangle (at least two sides have the same length)
    return side1 == side2 or side2 == side3 or side3 == side1


side1, side2, side3 = list2

is_triangle_result = is_triangle(side1, side2, side3)
is_right_triangle_result = is_right_triangle(side1, side2, side3)
is_isosceles_triangle_result = is_isosceles_triangle(side1, side2, side3)

print("List 2:")
print("Can form a triangle:", is_triangle_result)
print("Can form a right triangle:", is_right_triangle_result)
print("Can form an isosceles triangle:", is_isosceles_triangle_result)

List 2:
Can form a triangle: True
Can form a right triangle: True
Can form an isosceles triangle: False

In [30]:
def is_triangle(side1, side2, side3):
    # Check the triangle inequality condition
    return side1 + side2 > side3 and side2 + side3 > side1 and side3 + side1 > side2

def is_right_triangle(side1, side2, side3):
    # Sort the sides in ascending order
    sides = [side1, side2, side3]
    sides.sort()

    # Check if it's a right triangle using the Pythagorean theorem
    return sides[0]**2 + sides[1]**2 == sides[2]**2

def is_isosceles_triangle(side1, side2, side3):
    # Check if it's an isosceles triangle (at least two sides have the same length)
    return side1 == side2 or side2 == side3 or side3 == side1


side1, side2, side3 = list3

is_triangle_result = is_triangle(side1, side2, side3)
is_right_triangle_result = is_right_triangle(side1, side2, side3)
is_isosceles_triangle_result = is_isosceles_triangle(side1, side2, side3)

print("List 3:")
print("Can form a triangle:", is_triangle_result)
print("Can form a right triangle:", is_right_triangle_result)
print("Can form an isosceles triangle:", is_isosceles_triangle_result)

List 3:
Can form a triangle: True
Can form a right triangle: False
Can form an isosceles triangle: True

In [31]:
def is_triangle(a, b, c):
    return (a + b > c) and (b + c > a) and (c + a > b)

def is_right_triangle(a, b, c):
    sides = [a, b, c]
    sides.sort()
    return sides[0]**2 + sides[1]**2 == sides[2]**2

def is_isosceles_triangle(a, b, c):
    return a == b or b == c or c == a

# Test the functions with the given lists
list1 = [1, 3, 5]
list2 = [12, 35, 37]
list3 = [2, 2, 2.8]

for i, lst in enumerate([list1, list2, list3], start=1):
    print(f"Results for list {i}:")
    a, b, c = lst
    if is_triangle(a, b, c):
        print("The given three numbers can form a triangle.")
        if is_right_triangle(a, b, c):
            print("The given three numbers can form a right triangle.")
        else:
            print("The given three numbers cannot form a right triangle.")
        if is_isosceles_triangle(a, b, c):
            print("The given three numbers can form an isosceles triangle.")
        else:
            print("The given three numbers cannot form an isosceles triangle.")
    else:
        print("The given three numbers cannot form a triangle.")

Results for list 1:
The given three numbers cannot form a triangle.
Results for list 2:
The given three numbers can form a triangle.
The given three numbers can form a right triangle.
The given three numbers cannot form an isosceles triangle.
Results for list 3:
The given three numbers can form a triangle.
The given three numbers cannot form a right triangle.
The given three numbers can form an isosceles triangle.

**Solution 2.2**

In [32]:
import math

def find_area(a, b, c):
    # Calculate the semi-perimeter
    s = (a + b + c) / 2

    # Calculate the area using Heron's formula
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))

    # Round the area to the nearest integer
    area = round(area)

    return area

# Example usage with list1

side1, side2, side3 = list1

is_triangle_result = is_triangle(side1, side2, side3)

if is_triangle_result:
    area = find_area(side1, side2, side3)
    print(f"List 1:")
    print("Can form a triangle")
    print("Area of the triangle:", area)
else:
    print("List 1 cannot form a triangle")

List 1 cannot form a triangle

In [33]:
def find_area(a, b, c):
    # Calculate the semi-perimeter
    s = (a + b + c) / 2

    # Calculate the area using Heron's formula
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))

    # Round the area to the nearest integer
    area = round(area)

    return area

# Example usage with list1

side1, side2, side3 = list2

is_triangle_result = is_triangle(side1, side2, side3)

if is_triangle_result:
    area = find_area(side1, side2, side3)
    print(f"List 2:")
    print("Can form a triangle")
    print("Area of the triangle:", area)
else:
    print("List 2 cannot form a triangle")

List 2:
Can form a triangle
Area of the triangle: 210

In [30]:
def find_area(a, b, c):
    # Calculate the semi-perimeter
    s = (a + b + c) / 2

    # Calculate the area using Heron's formula
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))

    # Round the area to the nearest integer
    area = round(area)

    return area

# Example usage with list1

side1, side2, side3 = list3

is_triangle_result = is_triangle(side1, side2, side3)

if is_triangle_result:
    area = find_area(side1, side2, side3)
    print(f"List 3:")
    print("Can form a triangle")
    print("Area of the triangle:", area)
else:
    print("List 3 cannot form a triangle")

List 3:
Can form a triangle
Area of the triangle: 2

**Part 2 : Version 1**

My Student ID is S223494027, where the sum of student id falls as 33
and the result from the function is marked as Odd.![image_2023-09-10_202034058.png]()

For Part 2: Took the Version 1 as the results for Question 1.7 as Odd.
For Version 1, we have find the area of the triangle out of the given list. We have three lists, where our first task is to identify whether we can form a triangle from the given list. Secondary task is to form a right triangle from the given list. Even by using phythogorus theorem, whether the given three numbers can form isosceles triangle. Isosceles triangle is nothing but a triangle where its two sides are equal.We start the code by defining a triangle by sides a,b,c as side 1, side 2 and side 3.We define the function as if a+b>c and b+c>a and c+a>b as to check if the sides of the triangle are equal or not.Apply the Pythagoras theorem states that “In a right-angled triangle, the square of the hypotenuse side is equal to the sum of squares of the other two sides“. Last we will difine the function as to identify whether the trainagle is isosceles triangle. We will run the code three times with the three list. We could find that List1[1,3,5] cannot be a triangle.List 2[12,35,37] can form a triangle and its a right triangle where its two sides are not equal. Hence, List 2 cannot be a isosceles triangle. List 3 [2,2,2.8] can form a triangle with two sides equal forming isosceles triangle. Where List 3 is not a right triangle. Now, we will calculate the area of the triangle by using Heron's formula. We could find Area for List 2 and List 3 as they are the two list that can form a triangle.

**Reference**


1.   https://www.mathsisfun.com/data/standard-deviation-formulas.html
2.   https://stackoverflow.com/questions/70087607/how-do-i-calculate-standard-deviation-in-python-without-using-numpy
3.   https://saturncloud.io/blog/calculating-standard-deviation-in-python-without-using-numpy/
4.   https://numpy.org/doc/stable/reference/generated/numpy.std.html
5.   https://www.programiz.com/python-programming/examples/flatten-nested-list
6.   https://www.scaler.com/topics/flatten-list-python/
7.   https://codefather.tech/blog/flatten-list-python/
8.   https://stackoverflow.com/questions/20112776/how-do-i-flatten-a-list-of-lists-nested-lists
9.   https://www.codeunderscored.com/how-to-flatten-a-list-in-python/
10.  https://realpython.com/python-flatten-list/
11.  https://www.geeksforgeeks.org/possible-form-triangle-array-values/
12.  https://www.geeksforgeeks.org/c-program-find-area-triangle/
13. https://www.freecodecamp.org/news/sort-dictionary-by-value-in-python/
14. https://www.geeksforgeeks.org/python-program-to-check-if-a-number-is-odd-or-even/
15. https://www.programiz.com/python-programming/examples/odd-even
16. https://w3codeworld.com/article/131/python-program-to-find-sum-of-digits-of-a-number-using-while-loop-of-any-integer-number
17.